/* --- Hero section Styles --- */
.hero-section-global {
    // background-color: var(--background-color);
    height: 100vh;
    margin-left: 2%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    // z-index: 3;
}

.hero-section-title {
    font-size: 11em;
    color: var(--primary-color);
    line-height: 0.8em;
}

.menu-hero-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    button {
        display: block;
        line-height: 0.9em;
    }
}

#text-slider {
    // ? Ne fonctionne pas, le background des particules vient le cacher
    z-index: 1000;
}

/* --- Nocte Cricles --- */

.nocte-circles-container {
    position: absolute;
    transform: translateX(50%);
    top: -55%;
    right: 0%;
    width: 200vw;
    height: 130%;
    pointer-events: none;

    display: grid;
    place-items: center;

    .nocte-circles {
        grid-area: 1 / 1;
        width: 25%;
        max-height: 50vh;
        pointer-events: none;
        z-index: 1;
    }

    .circle-background {
        grid-area: 1 / 1;
        aspect-ratio: 1 / 1;
        width: 19%;
        background-color: var(--background-color);
        border-radius: 50%;
        pointer-events: none;
        z-index: 0; // Behind nocte-circles but above particles if needed, adjusting z-index logic
        filter: blur(20px);
    }

    /* --- Particles --- */
    .particles-circles {
        grid-area: 1 / 1;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: -5;
    }
}