/* You can add global styles to this file, and also import other style files */

/* --- Custom Fonts Configuration --- */
@font-face {
    font-family: 'Vixa-Regular';
    src: url('/fonts/Vixa-regular.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter.woff2') format('woff2');
    font-style: normal;
    font-display: swap;
}

/* --- Global Styles --- */
h1 {
    margin: 0;
    font-family: 'Vixa-Regular', sans-serif;
    /* Fallback sur sans-serif si la police ne charge pas */
    -webkit-font-smoothing: antialiased;
    /* Rendu plus net sur Mac/iOS */
    -moz-osx-font-smoothing: grayscale;
}

h2,h3 {
    margin: 0;
    font-family: sans-serif;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

p {
    margin: 0;
    font-family: 'Inter', sans-serif;
    /* Fallback sur sans-serif si la police ne charge pas */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* --- Button Styles --- */
.brutalist-button-frame {
    background-color: #D9D9D9;
    box-shadow: 0.3em 0.3em 0 0 #1C1C1C;
    border: solid 1px #1C1C1C;

    color: #1C1C1C;
    transition: color 0.3s ease;
    font-weight: 900;

    padding: 0.6em 1em;
    margin: 2vh 0;
    border-radius: 0.2em;

    cursor: pointer;
    transition: all 0.1s ease;
    display: inline-block;

    &:hover {
        color: #FF6200;
    }

    &:active {
        transform: translate(0.2em, 0.2em);
        box-shadow: 0.1em 0.1em 0 0 #1C1C1C;
    }
}

.brutalist-button-frameless {
    border: none;
    margin-top: 0.2vh;

    color: #1C1C1C;
    font-weight: 800;

    background: none;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
        color: #FF6200;
    }
}

/* --- Hero section Styles --- */
.hero-section-global {
    background-color: #EEEEEE;
    height: 100vh;
    margin-left: 2%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    
}

.hero-section-title {
    font-size: 11em;
    color: #1C1C1C;
    line-height: 0.8em;
}

.menu-hero-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    button {
        display: block;
        line-height: 0.9em;
    }
}

/* --- Nocte Cricles --- */
.nocte-circles {
    /* Test */
        // border: solid 1px red;

    position: absolute;
    top: 50%;
    right: -25%;
    transform: translateY(-50%);
    width: 100vh;
    height: 100vh;
    pointer-events: none;
    z-index: 10;

}