:root {
    --nb-circles: 5;
    --max-size: 90vmin;
    --scale-step: 0.8;
    --duration-base: 100;
    --duration-step: 0.8;
    --opacity-start: 1;
    --opacity-step: 0.15;
}

/* Animation rotation */
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* Conteneur des cercles*/
.circleContainer {
    
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

/* Style des cercles */
.circle {
    // background: rgba(94, 20, 20, 0.1);
    position: absolute;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    animation-name: rotation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}