<div class="horizontal-scroll-wrapper" #scrollWrapper>
    <div class="glyphs-background" #glyphsBackground></div>
    <div class="sticky-header">
        <div class="section-title section-right">
            <h1 class="section-main-title">{{ 'build.title' | transloco }}</h1>
            <h2 class="section-title-secondary">{{ 'build.titleMarquee' | transloco }}</h2>
            <p class="section-description" [innerHTML]="'build.description' | transloco"></p>
        </div>
    </div>
    <div class="sticky-container" #stickyContainer>
        <div class="cards-container" #cardsContainer>
            <div class="card">
                <div class="card-bg" style="-webkit-mask-image: url('assets/images/GLYPHS_1.svg'); mask-image: url('assets/images/GLYPHS_1.svg');"></div>
                <div class="card-content">
                    <h1 class="card-number">01</h1>
                    <div class="card-tag">{{ 'build.cards.card1.tag' | transloco }}</div>
                    <h3 class="card-title">{{ 'build.cards.card1.title' | transloco }}</h3>
                    <p class="card-description">{{ 'build.cards.card1.desc' | transloco }}</p>
                </div>
            </div>

            <div class="card">
                <div class="card-bg" style="-webkit-mask-image: url('assets/images/GLYPHS_2.svg'); mask-image: url('assets/images/GLYPHS_2.svg');"></div>
                <div class="card-content">
                    <h1 class="card-number">02</h1>
                    <div class="card-tag">{{ 'build.cards.card2.tag' | transloco }}</div>
                    <h3 class="card-title">{{ 'build.cards.card2.title' | transloco }}</h3>
                    <p class="card-description">{{ 'build.cards.card2.desc' | transloco }}</p>
                </div>
            </div>

            <div class="card">
                <div class="card-bg" style="-webkit-mask-image: url('assets/images/GLYPHS_3.svg'); mask-image: url('assets/images/GLYPHS_3.svg');"></div>
                <div class="card-content">
                    <h1 class="card-number">03</h1>
                    <div class="card-tag">{{ 'build.cards.card3.tag' | transloco }}</div>
                    <h3 class="card-title">{{ 'build.cards.card3.title' | transloco }}</h3>
                    <p class="card-description">{{ 'build.cards.card3.desc' | transloco }}</p>
                </div>
            </div>

            <div class="card">
                <div class="card-bg" style="-webkit-mask-image: url('assets/images/GLYPHS_4.svg'); mask-image: url('assets/images/GLYPHS_4.svg');"></div>
                <div class="card-content">
                    <h1 class="card-number">04</h1>
                    <div class="card-tag">{{ 'build.cards.card4.tag' | transloco }}</div>
                    <h3 class="card-title">{{ 'build.cards.card4.title' | transloco }}</h3>
                    <p class="card-description">{{ 'build.cards.card4.desc' | transloco }}</p>
                </div>
            </div>
        </div>
    </div>
</div>