/* You can add global styles to this file, and also import other style files */

/* --- Custom Fonts Configuration --- */
@font-face {
  font-family: 'Vixa-Regular';
  src: url('/fonts/Vixa-regular.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* --- Global Styles --- */
body {
  margin: 0;
  padding: 0;
  background-color: #EEEEEE;
}

h1 {
  margin: 0;
  font-family: 'Vixa-Regular', sans-serif; /* Fallback sur sans-serif si la police ne charge pas */
  -webkit-font-smoothing: antialiased; /* Rendu plus net sur Mac/iOS */
  -moz-osx-font-smoothing: grayscale;
}

/* --- Main Intro Styles --- */
.main-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  // background-color: #EEEEEE;
} 

.main-intro-title {
  font-size: 4rem;
  color: #1C1C1C;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
}